@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (max-width:650px) {

    .botao-de-contato {
        padding: 0.75rem 0.60rem;
    }

    .grupo-formulario, button {
        margin-left: 5rem;
    }

    input, textarea {
        width: 80%;
    }
}